<div class="item row">
    <div class="col col-75">
        <h2>{{account.name}} : {{account.account}}</h2>
        <p>Saldo : Rp {{account.balance | number}}</p>
    </div>
    <div class="col col-25 text-right">
        <a ng-href="#/app/paymentform/create/{{account.id}}/{{type}}/{{partner}}/{{trans}}" class="button button-circle button-primary icon ion-plus-round"> </a>
        <sp/>
        <a ng-href="#/app/paymenthistory/{{account.id}}/{{type}}/{{partner}}/{{trans}}"  class="button button-circle button-clear icon ion-edit"> </a>
    </div>
</div>