<div class="modal">
    <ion-header-bar>
        <h1 class="title">Transaksi {{trans.isSales ? "Pengiriman" : "Penerimaan"}}</h1>
        <button ng-click="hideAcc(this)" class="button button-clear button-icon button-dark ion-ios-close-outline"></button>
    </ion-header-bar>
    <ion-content>
        <form novalidate ng-submit="searchAcc(this)">
            <ion-list>
                <div class="lolipop-input item item-input-inset">
                    <label class="item-input-wrapper">
                        <input focus-input type="text" ng-model="search.filter" placeholder="Cari penerimaan ...">
                    </label>
                    <button type="submit" class="button button-primary icon ion-ios-search"></button>
                </div>
                <item-acc ng-repeat="acc in trans.accs"></item-acc>
            </ion-list>
        </form>
        <ion-infinite-scroll
            ng-if="hasMoreAcc()"
            on-infinite="loadMoreAcc()"
            distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</div>